a {
    text-decoration: none;
    margin-bottom: 15px;
}

a .card:hover {
    background-color: rgb(245, 245, 245);
}

.card-body h4 {
    color: rgb(56, 56, 56);
}

.card-body p {
    color: rgb(136, 136, 136);
}

i {
    font-size: 30px;
    margin-right: 40px;
    color: rgb(56, 56, 56);
}