.navbar {
    height: 100px;
    background-color: rgb(182, 216, 207)!important;
}

ul {
    height: 100px;
}

li {
    height: 100%;
    display: flex;
    align-items: center;
}

.navbar-active  {
    border-bottom: 3px solid #66A695;
}

.navbar-active a {
    color: #000 !important;
}

.navbar img {
    width: 135px;
    height: 75px;
    margin: 0 30px;
}

.navbar a {
    font-size: 20px;
    margin: 0 22px;
    display: inline-block;
    position: relative;
    font-weight: 500;
}

.navbar button {
    margin: 0 30px 0 10px;
    border-radius: 25px;
    font-size: 20px;
    font-weight: 500;
    border: 1px solid #000;
}

.navbar button:hover {
    background-color: #66A695;
    color: #fff;
}

.navbar li:hover {
    color: #000;
}
