.jumbotron {
    margin-top: 100px;
    display: flex;
}

.form-data {
    display: none;
}

img {
    width: 300px;
    height: 300px;
    border-radius: 25px;
    margin-right: 100px;
}

h1 {
    font-size: 4rem;
}

button {
    top: 0;
    right: 0;
}

button a {
    text-decoration: none;
    display: inline-block;
    width: 100%;
    text-align: center;
}



button:active {
    transform: translateY(3px);
}

button a span {
    color: rgb(54, 54, 54);
    font-size: inherit;
}

button a i {
    color: rgb(100, 100, 100);
    margin-right: 5px;
}

.info {
    font-size: 1.3rem;
    color: rgb(110, 110, 110);
    margin: 5px 0;
}

.info i {
    margin-right: 10px;
    font-size: 2rem;
}

.score {
    width: 170px;
    height: 150px;
    margin: 0 0 20px 30px;
}

.score-length {
    width: 40px;
    padding: 5px;
    border-radius: 10px;
    margin-left: 20px;
    background-color: lightgray;
    text-align: center;
    color:rgb(54, 54, 54);
}

.history {
    background-color: rgb(252, 252, 252);
    padding: 30px;
    border-radius: 10px;
    margin: 50px auto;
}
