{% extends 'KUIZ/main.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'KUIZ/css/navbar.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'KUIZ/css/sidebar.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'KUIZ/css/card_quiz.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'fontawesome/css/all.min.css' %}" />
{% endblock css %}
{% block title %}<title>Quiz | All Quizzes</title>{% endblock %}
{% block nav %}
    {% include 'components/navbar.html' %}
{% endblock %}
{% block content %}

<div class="container mt-4">
    <div class="row">
        <div class="col-md-3 col-12">
            {% include 'components/sidebar.html' %}
        </div>
        <div class="col-md-9 col-12">
            <div class="d-flex align-items-center justify-content-between">
                <h1 class="d-inline">All Quizzes</h1>
                {% if user.is_teacher %}
                <a href="{% url 'new_quiz' %}" class="btn btn-secondary active" role="button" aria-pressed="true">Add Quiz</a>
                {% endif %}
            </div>
            <div class="row mt-4">
                {% if quizzes %}
                    {% for quiz in quizzes %}
                        {% include 'components/card_quiz.html' %}
                    {% endfor %}
                {% else %}
                    <p>No quiz.</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}