{% extends 'KUIZ/main.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'KUIZ/css/navbar.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'fontawesome/css/all.min.css' %}" />
{% endblock css %}
{% block title %}<title>Edit | {{ question }}</title>{% endblock %}
{% block nav %}
    {% include 'components/navbar.html' %}
{% endblock %}
{% block content %}

<div class="container mt-4">
    <div class="jumbotron d-flex justify-content-center">
        <div class="col-md-8 col-12">
            <h1>{{ question }}</h1>
            <form
                action="{% url 'edit_question' question.id %}"
                method="post"
                class="form-group"
                enctype="multipart/form-data">
                {% csrf_token %}
                {{ question_form.as_p }}
                <div class="d-flex">
                  <a
                    class="btn btn-danger mr-2"
                    href="{% url 'detail' %}"
                    style="margin: 0"
                    >
                    Back
                  </a>
                  <button
                    class="btn btn-success"
                    type="submit"
                    style="margin-left: 15px;"
                  >
                    Edit
                  </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}