{% extends 'KUIZ/main.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'KUIZ/css/index.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'KUIZ/css/feedback.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'KUIZ/css/navbar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'fontawesome/css/all.min.css' %}"/>
{% endblock css %}
{% block title %}
    <title>KUIZ</title>
{% endblock %}
{% block nav %}
    {% include 'components/navbar.html' %}
{% endblock %}
{% block content %}
    <html>
    <body>
    {% if user.is_teacher %}
        {#    <form method="post">#}
        {#        <table style="margin-top: 50px;border-radius: 20px;">#}
        {#            {{ form }}#}
        {#        </table>#}
        {#        {% csrf_token %}#}
        {#        <button type="submit">Submit Feedback</button>#}
        {#    </form>#}
        <div class="wrapper ">
            <div id="formContent">
                <h3 style="text-align: center;margin-top: 20px">Send Feedback</h3>
                <form method="post">{% csrf_token %}

                    <table class="table table-borderless">

                        <tbody>
                        <tr >
                            {{ form.user }}
                        </tr>
                        <tr>

                            {{ form.quiz }}<br>
                        </tr>

                        </tbody>
                    </table>
                    <div>{{ form.feedback_text }}</div>



                    <button type="submit" style="background-color: #3AB1BE;color:white">Submit</button>

    {% else %}
        {% if not feedback %}
            {% for text in feedback %}
                {% if text.user.username == user.username %}
                    {{ text.quiz.quiz_topic }}
                    {{ text }}

                {% endif %}


            {% endfor %}
        {% else %}
            <h1 style="text-align: center">No Feedback Right now</h1>
        {% endif %}

    {% endif %}
    </body>
    </html>
{% endblock content %}