{% extends 'KUIZ/main.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'KUIZ/css/index.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'KUIZ/css/navbar.css' %}">
{% endblock css %}
{% block title %}
    <title>KUIZ</title>
{% endblock %}
{% block nav %}
    {% include 'components/navbar.html' %}
{% endblock %}
{% block content %}
    <div class="body">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">KUIZ KUIZ KUIZ KUIZ KUIZ KUIZ</h1>
                <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit, quis quos repudiandae, quidem tempore nesciunt quas placeat libero ipsum laborum mollitia veritatis doloremque delectus, neque culpa vero nulla minima praesentium! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit, quis quos repudiandae, quidem tempore nesciunt quas placeat libero ipsum laborum mollitia veritatis doloremque delectus, neque culpa vero nulla minima praesentium!</p>
            </div>
        </div>
        <span class="question-mark mark1">?</span>
        <span class="question-mark mark2">?</span>
        <button type="button" class="btn btn-quiz"><a href="{% url 'detail' %}">GO TO QUIZ!</a></button>
    </div>
{% endblock %}