{% extends 'KUIZ/main.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'KUIZ/css/navbar.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'KUIZ/css/card_quiz.css' %}">
{% endblock css %}
{% block title %}{% endblock %}

{% block nav %}
    {% include 'components/navbar.html' %}
{% endblock %}
{% block content %}
<div class="container mt-4">
  <div class="row justify-content-md-center">
      <div class="col-md-8 col-12">
            <h1 style="margin-bottom: 2rem">Member</h1>
            {% for quiz in owner_quiz %}
                <a href="{%url 'member_per_quiz' quiz.pk %}">
                  <div class="card w-90 mb-3">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="card-body">
                            <h4 class="card-title">{{quiz.quiz_topic}}</h4>
                            <p class="card-text">{{quiz.detail}}</p>
                        </div>
                        <div>
                            <i class="fas fa-long-arrow-alt-right"></i>
                        </div>
                    </div>
                  </div>
                </a>
            {% endfor %}
            <a class="btn btn-outline-danger" href="{%url 'index' %}">Back</a>
        </div>
    </div>
</div>
{% endblock %}