{% extends 'KUIZ/main.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'KUIZ/css/navbar.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'KUIZ/css/sidebar.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'fontawesome/css/all.min.css' %}" />
{% endblock css %}
{% block title %}<title>KUIZ | New Multiple Choice</title>{% endblock %}
{% block nav %}
    {% include 'components/navbar.html' %}
{% endblock %}
{% block content %}
<div class="container mt-4">
  <div class="row justify-content-md-center">
      <div class="col-md-8 col-12">
          <h1>Create new multiple choice</h1>
            <form
              action="{% url 'new_multiple_choice' %}"
              method="post"
              class="form-group"
              enctype="multipart/form-data">
              {% csrf_token %}
              {{ choice_form.as_p }}
              <div class="d-flex">
                <a
                  class="btn btn-danger"
                  href="{% url 'detail' %}"
                  style="margin: 0"
                  >
                  Back
                </a>
                <button
                  class="btn btn-success"
                  type="submit"
                  style="margin-left: 15px;"
                >
                  Create
                </button>
              </div>
          </form>
      </div>
  </div>
</div>
{% endblock %}