{% extends 'KUIZ/main.html' %} 
{% load static %} 
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'fontawesome/css/all.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'KUIZ/css/left_sidebar.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'KUIZ/css/right_sidebar.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'KUIZ/css/card_choice.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'KUIZ/css/question.css' %}">
{% endblock css %} 
{% block title %}
<title>KUIZ</title>
{% endblock %}
    {% block nav %}
        {% include 'components/left_sidebar.html' %} 
    {% endblock %} 
    {% block content %}
    <div class="content d-flex flex-column">
        <div>
            <h1>Question: {{ num }} / </h1>
        </div>
        <div>
            <h1>{{question.question_text}}</h1>
            {% include 'components/card_choice.html' %}
            <!-- {% for choice in choices %}
            <input type="Radio" name="Choice" value="{{ choice.correct }}" />{{choice.choice_text }}<br />
            {% endfor %} -->
            {% if back_link != None %}
                <button type="button" class="btn btn-primary">
                    <a href="{{back_link}}">Back</a>
                </button>
            {% endif %}
            <button type="button" class="btn" id="next-btn">
                <a href="{{link}}">{{text}} <i class="fas fa-long-arrow-alt-right"></i></a>
            </button>
        </div>
    </div>
    {% include 'components/right_sidebar.html' %}
    <script>
        const content = document.querySelector(".content");
        const nextButton = document.querySelector("#next-btn");
        const timer = document.getElementById("timer");
        var intervalId = window.setInterval(() => {
            if (timer.innerHTML == "00:00") {
                content.style.opacity = 0.3;
                nextButton.disabled = true;
            }
        }, 1000);
    </script>
{% endblock %}
