{% extends 'KUIZ/main.html' %} 
{% load static %} 
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'fontawesome/css/all.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'KUIZ/css/left_sidebar.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'KUIZ/css/right_sidebar.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'KUIZ/css/card_choice.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'KUIZ/css/question.css' %}">
{% endblock css %} 
{% block title %}
<title>KUIZ</title>
{% endblock %}
    {% block nav %}
        {% include 'components/left_sidebar.html' %} 
    {% endblock %} 
    {% block content %}
    <div class="content d-flex flex-column">
        <div>
            <h1>Question: {{ num }} / {{ max_num }}</h1>
        </div>
        <div>
            <h1>{{question.question_text}}</h1>
            {% include 'components/card_choice.html' %}
            <!-- <form action="{% url 'answer' quiz.pk question.id %}" method="post">
            {% csrf_token %}
            {% for index, choice in choices.items %}
            <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
            <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
            {% endfor %}
            {% if next_link %}
            <input type="submit" value="Next">
            {% else %}
            <input type="submit" value="Submit">
            {% endif %}
            </form> -->
            {% if back_link %}
                <button type="button" class="btn back-btn">
                    <a href="{%url 'question' quiz.id back_question.id %}"><i class="fas fa-long-arrow-alt-left"></i>Previous</a>
                </button>
            {% endif %}
            {% if next_link %}
            <button type="button" class="btn next-btn">
                <a href="{%url 'question' quiz.id next_question.id %}">Next<i class="fas fa-long-arrow-alt-right"></i></a>
            </button>
            {% else %}
            <button type="button" class="btn next-btn">
                <a href="{%url 'result' quiz.id %}">Submit<i class="fas fa-long-arrow-alt-right"></i></a>
            </button>
            {% endif %}
        </div>
    </div>
    {% include 'components/right_sidebar.html' %}
    <script>
        const content = document.querySelector(".content");
        const nextButton = document.querySelector(".next-btn");
        const timer = document.getElementById("timer");
        var intervalId = window.setInterval(() => {
            if (timer.innerHTML == "00:00") {
                timer.innerHTML = "Time's Up!"
                content.style.opacity = 0.3;
                nextButton.disabled = true;
                clearInterval(intervalId);
            }
        }, 1000);
    </script>
{% endblock %}
