{% extends 'KUIZ/main.html' %} 
{% load static %} 
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'fontawesome/css/all.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'KUIZ/css/left_sidebar.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'KUIZ/css/right_sidebar.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'KUIZ/css/score.css' %}">
{% endblock css %} 
{% block title %}
<title>Score | {{ quiz.quiz_topic }}</title>
{% endblock %}
{% block nav %}
    {% include 'components/left_sidebar.html' %} 
{% endblock %} 
{% block content %}
    <div class="content d-flex flex-column">
        <div class="header">
            <h1>Score</h1>
        </div>
        <div class="body">
            <div>
                <h1>{{ quiz.quiz_topic }}</h1>
                <div class="card-score">
                    <span>Your score: {{ score }}/{{ max }}</span>
                    <button type="button" class="btn"><a href="{%url 'result' quiz.id %}">Next</a></button>
                </div>
            </div>
            <br>
        </div>
    </div>
    {% include 'components/right_sidebar.html' %}
    <script>
        const timer = document.getElementById("timer");
        const timeRemaining = document.getElementById("time-remaining");
        timer.innerHTML = "DONE";
        timeRemaining.style.display = "none";
    </script>
{% endblock %}