{% extends 'KUIZ/main.html' %} 
{% load static %} 
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'fontawesome/css/all.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'KUIZ/css/left_sidebar.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'KUIZ/css/right_sidebar.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'KUIZ/css/question.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'KUIZ/css/type_question.css' %}">
{% endblock css %}
{% block title %}
<title>KUIZ</title>
{% endblock %}
    {% block nav %}
        {% include 'components/left_sidebar.html' %}
    {% endblock %}
    {% block content %}
    <div class="content d-flex flex-column">
        <div class="header">
            <h1>Question: {{ num }} / {{ max_num }}</h1>
        </div>
        <div class="body">
            <h1>{{question.question_text}} ({{question.point}} pts.)</h1>
            <form action="{% url 'answer' quiz.pk question.id %}" method="post">
            {% csrf_token %}
            <br>
            {% if choices.question == lastest_answer_in_question.question %}
            <input type="text" id="type" name="type" value="{{lastest_answer_in_question.answer}}"><br><br>
            {% else %}
            <input type="text" id="type" name="type" class="answer_input"><br><br>
            {% endif %}
            <br>
            {% if back_link %}
            <button type="button" class="back-btn"><a href="{%url 'question' quiz.id back_question.id%}">Back</a></button>
            {% endif %}
            {% if next_link %}
            <input type="submit" value="Next" class="next-btn">
            {% else %}
            <input type="submit" value="Submit" class="next-btn submit-btn">
            {% endif %}
            </form>
        </div>
    </div>
    {% include 'components/right_sidebar.html' %}
    <script>
        const content = document.querySelector(".content");
        const nextButton = document.querySelector(".next-btn");
        const timer = document.getElementById("timer");
        var intervalId = window.setInterval(() => {
            if (timer.innerHTML == "00:00") {
                timer.innerHTML = "Time's Up!"
                content.style.opacity = 0.3;
                nextButton.disabled = true;
                clearInterval(intervalId);
            }
        }, 1000);
    </script>
{% endblock %}
