{% extends 'account/base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'account/login.css' %}">
{% endblock css %}
{% block title %}
    <title>KUIZ | Login</title>
{% endblock title %}
{% block content %}

    <h2>Login</h2>
    <form method="post">{% csrf_token %}
        {% for field in login_form %}
            <p>
                {{ field.label_tag }}
                {{ field }}
                {% if field.help_text %}
                    <small style="color:gray">{{ field.help_text }}</small>
                {% endif %}
            </p>
        {% endfor %}

        {% for field in login_form %}
            {% for error in field.errors %}
                <p style="color:red">{{ error }}</p>
            {% endfor %}
        {% endfor %}

        {% if login_form.non_field_errors %}
            <div style="color:red">
                <p>{{ login_form.non_field_errors }}</p>
            </div>
        {% endif %}
        <button type="submit">Login</button>
    </form>

{% endblock content %}