{% extends 'KUIZ/main.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'KUIZ/css/navbar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'fontawesome/css/all.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'account/css/profile.css' %}">
{% endblock css %}
{% block title %}{% endblock %}
{% block nav %}
    {% include 'components/navbar.html' %}
{% endblock %}
{% block content %}
    <div class="container d-flex justify-content-center">
        <div class="jumbotron align-items-center justify-content-center position-relative show-data">
            <img src="{{ user.profile_pic.url }}" alt="profile picture">
            <div class="d-flex flex-column">
                <h2 style="color: forestgreen">{% if user.is_teacher %}
                    <i class="fas fa-chalkboard-teacher"></i> Teacher
                {% else %}
                    <i class="fas fa-user-graduate"></i> Student
                {% endif %}</h2>
                <h1>{{ user.first_name }} {{ user.last_name }}</h1>
                <span class="d-flex"><i class="fas fa-user-circle"></i>{{ user.username }}</span>
                <span class="d-flex"><i class="far fa-envelope"></i>{{ user.email }}</span>
            </div>
            <button class="btn btn-info position-absolute d-flex"><a href="{% url 'profile_edit' %}"><i
                    class="fas fa-user-cog"></i><span>Edit Profile</span></a></button>
        </div>
    </div>
    <div class="container d-flex flex-column history">
        <div class="d-flex align-items-center">
            <h2>History</h2>
            <span class="score-length">{{ length_score }}</span>
        </div>
        <div class="d-flex flex-wrap" style="margin-top: 20px;">
            {% for key,value in score.items %}
            <div class="card score">
                <div class="card-body d-flex flex-column justify-content-around">
                    <h3>{{ key }}</h3>
                    <span style="text-align: right">Score: {{ value.score }}/{{ value.max_score }}</span>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}