<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% if request.user.is_authenticated %}
        <p>
            <a href="{% url 'index' %}">Home</a> |
            <a href="{% url 'logout' %}">Logout</a>
        </p>
        <p>Hello,{{ request.user.first_name }} {{ request.user.last_name }}</p>
         {% if request.user.is_teacher == True %}<p>You are a teacher</p>
             {% else %}
             <p>You are a student</p>
         {% endif %}
         <p>{{ request.user.username }}</p>
         <p>{{ request.user.email }}</p>
    {% else %}
        <p>
            <a href="{% url 'index' %}">Home</a> |
            <a href="{% url 'register' %}">Register</a> |
            <a href="{% url 'login' %}">Login</a>
        </p>

    {% endif %}
</head>
<body>
{% block content %}

{% endblock content %}
</body>
</html>