<div class="d-flex flex-column flex-shrink-0 p-3 bg-light right-sidebar">
    <div>
        <h1 id="timer">{{ time }}:00</h1>
        <span id="time-remaining">TIME REMAINING</span>
    </div>
    <div>
        
    </div>
</div>
<div class="alert alert-secondary" role="alert">
    <h4 class="alert-heading">Time's up!</h4>
    <p>Aww yeah, now the time is up. Let's have fun next time.</p>
    <hr>
    <button class="btn"><a href="{% url 'result' quiz.id %}">Score</a></button>
</div>

<script>
    const text = "{{ text }}";
    const alertBox =  document.querySelector(".alert");
    const nextBtn = document.querySelector(".next-btn");
    const backBtn = document.querySelector(".back-btn");
    const startTimer = (duration, display) => {
        let timer = duration, minutes, seconds;
        const countdown = setInterval(() => {
            minutes = parseInt(timer / 60, 10);
            seconds = parseInt(timer % 60, 10);

            minutes = minutes < 10 ? "0" + minutes : minutes;
            seconds = seconds < 10 ? "0" + seconds : seconds;
            if (Number.isNaN(minutes) || Number.isNaN(seconds)) return;

            display.textContent = minutes + ":" + seconds;
            nextBtn.addEventListener("click", () => {
                localStorage.setItem("timer", display.textContent);
                if (text === "Submit") {
                    display.textContent = "DONE";
                    return;
                }
            })
            if ("{{back_link}}" != "None") {
                backBtn.addEventListener('click', () => {
                    localStorage.setItem("timer", display.textContent);
                });
            }

            if (--timer < 0) {
                timer = 0;
                alertBox.style.display = "block";
                clearInterval(countdown);
            }
        }, 1000);
    }

    window.onload = function () {
        const timer = localStorage.getItem("timer");
        const minutes = parseInt(timer.split(":")[0]);
        const seconds = parseInt(timer.split(":")[1]);
        const time = (60 * minutes) + seconds;
        const display = document.getElementById("timer");
        display.textContent = timer;
        startTimer(time, display);
    };
</script>