.jumbotron {
    margin-top: 100px;
    display: flex;
}

.form-data {
    display: none;
}

img {
    width: 300px;
    height: 300px;
    border-radius: 25px;
    margin-right: 100px;
}

h1 {
    font-size: 4rem;
}

button {
    top: 0;
    right: 0;
}

button a {
    text-decoration: none;
    display: inline-block;
    width: 100%;
    text-align: center;
}



button:active {
    transform: translateY(3px);
}

button a span {
    color: rgb(54, 54, 54);
    font-size: inherit;
}

button a i {
    color: rgb(100, 100, 100);
    margin-right: 5px;
}

span {
    font-size: 1.3rem;
    color: rgb(110, 110, 110);
    margin: 3px 0;
}

span i {
    margin-right: 10px;
    font-size: 2rem;
}